:root {
    --primary-color: #b6e6fb;
    --secondary-color: #2B4162;
    --accent1-color: #582707;
    --accent2-color: #CCAD8F;
    --heading-font: "Palatino", serif;
    --light-text: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 5px auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 5px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

nav,
ul,
li {
    display: flex;
    flex-direction: row;
    -ms-flex-align: stretch;
    padding: 10px;
}

nav a {
    padding: .1rem .8rem;
}

nav li {
    padding: .8rem 1rem;
    margin: .5rem;
    border: 1px solid #000;
    background-color: var(--light-text);
}

nav li a {
    align-self: center;
    text-wrap: nowrap;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color)
}

h1 {
    position: absolute;
    top: 16px;
    width: 100%;
    padding: 12px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: var(--light-text);
}

h2 {
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--light-text);
    text-align: center;
    justify-self: center;
    padding: .7rem;
    width: 840px;
}

section {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    padding: 45px 5px;
}

section figure {
    place-self: center;
    width: 160px;
    height: auto;
    margin: 1.2rem 0px;
    padding: 0px;
}

section figure img {
    width: inherit;
    height: auto;
    padding: 5px;
    margin: 0px;
    place-self: center center;

}

section p {
    grid-column: span 2;
}

figcaption {
    position: relative;
    justify-self: center;
    margin: 5px 0px;
}

section h2 {
    grid-column: 1/6;
    margin: .3rem;
}

section img {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: auto;
}

section p {
    position: relative;
    align-self: center;
    justify-self: center;
}

article {
    position: absolute;
    display: block;
    width: 100% - 2rem;
    margin: 1rem;
    padding: 1rem;

    bottom: 0rem;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: .9;
}

/* class selectors */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}

.hero article img {
    display: block;
    float: right;
    width: 125px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}