:root {
    /*--primary-color: #A6E1FA;*/ /*non-photo blue*/
    --primary-color: #b6e6fb;
    --secondary-color: #2B4162; /*indigo dye*/
    --accent1-color: #582707; /*seal brown*/
    --accent2-color: #CCAD8F; /*tan*/
    --misc-color: #85C7DE; /*sky blue*/
    --heading-font: "Palatino", serif;
    --body-font: "Bahnschrift", sans-serif;

    /*switch heading-font to "Hepta Slab", serif;*/
    /*switch body-font to "Funnel Display", sans-serif*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    flex-direction: row;
}

.header img {
    width: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center; 
    align-content: space-between;
}

nav a{padding: 2rem; margin: 10px;}


body {
    font-family: var(--body-font);
    color: var(--secondary-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.trip_hero {
    position: relative;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr (350px + 32px);
}

.trip_hero section{
    grid-column: 1;
}

.trip_hero_img {
    margin: 16px;
    grid-column: 2;
    grid-row: span 2;
    width: 350px;
}



h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

h1 {
    position: absolute;
    top: 10px;
    width: 50%;
    padding: 16px;
    text-align: right;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: white;
}

article {
    position: absolute;
    text-align: left;
    bottom: 0px;
    
    opacity: 0.85;
    background-color: var(--misc-color);
}

.hero article img {
    float: right;
    width: 160px;
    padding: 10px
}

section {
    position: relative;
    margin: 0 auto;
    width: 99%;
    opacity: .9;
    display: grid;
    grid-template-rows: 80px 1fr 0px;
}

section img{
    grid-row: 2;
    width: 300px;
    align-self: center;
}

section p{
    grid-row: 2;
    grid-column: span 2;
}

section h2 {
    grid-row: 1;
    grid-column: span 5;
    align-self: center;
    text-align: center;
    background-color: var(--primary-color);
}

section figure{
    
    width: 10rem;
    margin: auto;
}

section figure img{
    grid-row: 2;
    width: 10rem;
}

section figure figcaption{
    grid-row: 3;
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
    padding: 5px;
}

footer {
    display: grid;
    position: relative;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;

    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    flex-wrap: nowrap;
}

footer img {
    width: 50px;
    height: auto;
}

.contact h3{
    margin-top: .6em;
    margin-bottom: -.2em;
    font-size: 1.5em;
}
.contact p {
    font-size: 1.2em;
    margin: 0;
}

.contact {
    display: grid;
    opacity: .9;
    margin-top: .5rem;
    padding: 0;
    text-align: center;
    margin-bottom: .8rem;
    grid-template-columns: 1.4fr 1fr;
}

.contact-info{
    grid-row: 1;
    grid-column: span 2;
}

.map{
    grid-row: 2;}

iframe{
    width: 350px;
    height: 332px; 
    border: 0;
    margin-top: 5rem;
    padding: 0;
}

form{
    margin-top: 5rem;
    text-align: left;}

label{
    margin-right: 1em;}

.radio_options{
    grid-column: 2;}
.radio_options label{
    margin-right: 0em;}

.form_item {
    padding: .3em;
    display: grid;
    grid-template-columns: 1fr 2fr;}

.newsletter {
    margin-top: 3px;
    display: block;}

button {
    display: block;
    width: 309px;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid black;
    border-radius: .4em;
    box-shadow: 0 0 2px rgba(221, 200, 174, 0.5);
    background-color: rgb(236, 236, 236); }

button:hover{background-color: rgb(243, 243, 243);}

input[type="text"] {width: 200px;}
textarea {width: 19.53rem}
input[type="radio"]{margin-right:0px;}

.employees {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: .3em;
}

.employees h1, h2 {
    position: inherit;
    font-size: 1.9em;
    margin-top: 0px;
    margin-bottom: 12px;
    text-align: center;
    opacity: 1;
    background-color: inherit;
    color: var(--accent1-color);

    top: 0px;
    width: inherit;
    padding: inherit;
    grid-column: span 5;
}