:root {
    --primary-color: #b6e6fb;
    --secondary-color: #2B4162;
    --accent1-color: #582707;
    --accent2-color: #CCAD8F;
    --heading-font: "Palatino", serif;
    --body-font: "Bahnschrift", sans-serif;
    --light-text: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    display: grid;
    grid-template-columns: auto 220px;
    grid-template-rows: 1fr;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 5px auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 5px;
    border: 1px solid black;
    border-radius: 1rem;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav,
ul,
li {
    display: flex;
    flex-direction: row;
    -ms-flex-align: stretch;
    padding: 10px;
}

nav a {
    padding: .1rem .8rem;
    align-self: center;
    text-wrap: nowrap;
}

nav li {
    padding: .8rem 1rem;
    margin: .5rem;
    border: 1px solid #000;
    background-color: var(--light-text);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color)
}

h1 {
    position: absolute;
    top: 16px;
    width: 100%;
    padding: 12px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--light-text);
}

h2 {
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--light-text);
    text-align: center;
    justify-self: center;
    padding: .7rem;
    width: 100%;
}

section {
    position: relative;

    display: grid;
    grid-template-rows: auto 1fr;

    padding: 45px 5px 10px;

}

section figure {
    place-self: center;
    width: 160px;
    height: auto;
    margin: 1.2rem 0px;
    padding: 0px;
    grid-row: 2;
}

section figure img {
    width: inherit;
    height: auto;
    grid-row: 2;
    padding: 5px;
    margin: 0px;
    place-self: center center;

}

figcaption {
    position: relative;
    justify-self: center;
    margin: 5px 0px;
}

section h2 {
    grid-column: span 5;
    margin: .3rem;
}

section img {
    grid-row: 2;
    align-self: center;
    justify-self: center;
    width: 300px;
    height: auto;

}

section p {
    grid-row: 2;
    grid-column: span 2;
    position: relative;
    align-self: center;
    justify-self: center;
}

article {
    position: absolute;
    display: block;
    width: 810px;
    margin: 1rem;
    padding: 1rem;
    bottom: 0rem;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: .9;
}

.trip_hero {
    position: relative;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 382px;
}

.trip_hero section {
    grid-column: 1;
}

.trip_hero_img {
    margin: 16px;
    grid-column: 2;
    grid-row: span 2;
    width: 350px;
}

h3 {
    text-align: center;
    font-size: 200%;
}

iframe {
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: none;
}

/* Form Stuff */

form {
    position: relative;
    max-width: 840px;
    align-self: center;
    align-content: center;
    justify-self: center;
}

form,
fieldset {
    border: none;
}

.home_signup {
    margin-top: 3.5rem;
}

fieldset {
    display: grid;
    align-items: center;
    gap: .5rem;
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid rgb(0, 0, 0 / .2);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: inherit;
    margin: .05rem 0;
}

legend {
    padding: .5rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
}

label {
    text-align: right;
    padding-right: .8rem;
}

input,
select,
textarea {
    padding: 0.4rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    background-color: var(--accent2-color);
    color: black;
    border: 1px solid black;
    border-radius: .4rem;
    padding: .4rem;
}

button:hover {
    background-color: var(--accent1-color);
    color: var(--light-text);
}

.newsletter-signup-form {
    grid-template-columns: 1fr 1fr;

    padding: 5px;
    margin-top: -3.39rem;
    align-content: center;
}

.newsletter-signup-form p {
    margin: 1rem;
    margin-top: 4.5rem;
}

.newsletter-signup-form div h2 {
    width: fit-content;
}

.form-item {
    display: inherit;
    align-items: inherit;
    grid-template-columns: 6rem 1fr;
    padding: .2rem;
}

.form-item label {
    padding: 0 .4rem;
    justify-self: left;
}

.form-item button {
    grid-column: span 2;
    padding: .8rem;
    font-size: 1.1rem;
}

.form-item p {
    justify-self: left;
    margin: 0 0 auto;
    padding: .35rem;
}

.form-message {
    grid-template-columns: 6rem 1fr;
    grid-template-rows: auto 1fr;
}

.form-message textarea {
    grid-row: 2;
    grid-column: span 2;
}

.form-check {
    grid-template-columns: 1fr auto;
    align-self: baseline;
    justify-self: left;
}

/* class selectors */

.contact {
    margin-top: 1rem;
}

.contact h1 {
    position: relative;
    margin-bottom: 1rem;

}

.contact p {
    text-align: center;
    padding: .1rem;
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.contact-form {
    margin-top: 0;
    padding-top: 1rem;
    grid-template-columns: 1fr 1fr;
}

.purpose {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.purpose p {
    grid-column: 1;
    grid-row: span 3;
}

.employeeprofile {
    width: 840px;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: beige;
    border: 1px solid black;
    border-radius: .3rem;
}

.hero {
    position: relative;
}

.hero img {
    margin: 0px 10px 0px 0px;
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}

.hero article img {
    display: block;
    float: right;
    width: 125px;
}

.socialmedia a {
    text-decoration: none;
    padding: .2rem;
}

.socialmedia img {
    width: 50px;
    height: auto;
}