* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 500px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: darkslateblue;
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

form {
    display: grid;
    width: 550px;
    margin: 0 auto;
    padding: .8rem;
    border: 1px solid navy;
    border-radius: .8rem;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid rgb(0, 0, 0 / .2);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: inherit;
    margin: .4rem 0;
}

legend {
    padding: .5rem;
    color: darkslateblue;
    font-size: 1.2rem;
}

label {
    text-align: right;
    padding-right: .8rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: .8rem;
    background-color: beige;
    color: #111;
    border: 1px solid black;
    border-radius: .4rem;
    padding: .4rem;
    font-size: 1.1rem;
}

button:hover {
    background-color: brown;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #999;
    border-top: 1 px solid #aaa;
}

.form-item {
    display: grid;
    align-items: center;

}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}