* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    margin: 1rem 2rem;
    width: 40rem;
}

h1 {
    margin: 0.5rem;
    text-align: center;
}

main {
    margin: 1rem 2rem;
    border: none;
}

fieldset {
    border: none;
    margin: 1rem;
}

form {

    width: 40rem;
    display: grid;
    color: black;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 1rem;

}

.form-item {
    margin: .5rem;
    margin-top: 1.5rem;
}

code {
    font-family: monospace;
    display: block;
    color: white;
    background-color: #333;
    font-size: 0.9em;
    border: none;
    margin: .5rem auto;
    padding: 1rem;
    width: 50%;

}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    margin: .4rem 0;
    padding: .2rem .3rem;
}

legend {
    padding: .5rem;
    color: darkslateblue;
    font-size: 1.2rem;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: navy;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 1rem;
}

button:hover {
    background-color: cornflowerblue;
    text-shadow: 2px 2px black;
}