* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #222;
    padding: 2rem;
}

nav a {
    color: #fff;
    padding: 0.3rem;
    display: block;
}

main {
    max-width: 840px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: .3rem;
    box-shadow: 5px 5px 20px #444;
}

h1 {
    color: black;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 65px;
    color: antiquewhite;
    text-shadow: 2px 2px 10px #111;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/20%);
    padding: 1rem;
    background-color: antiquewhite;
    color: #222;
}