* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #222;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: #fff;
    padding: 0.3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

main {
    max-width: 840px;
    margin: .5rem;
    grid-column: 2/3;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: .3rem;
    box-shadow: 5px 5px 20px #444;
    margin: .6rem;
}

header,
footer,
.grid {
    display: grid;
    max-width: 840px;
    margin: 0 auto;

    grid-template-columns: 3;
    align-items: center;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

h1 {
    color: black;
    border-bottom: 1px solid #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 65px;
    color: antiquewhite;
    text-shadow: 2px 2px 10px #111;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/20%);
    padding: 1rem;
    background-color: antiquewhite;
    color: #222;
}