nav {
    background-color: #222;
    padding: 2rem;
}

nav a {
    color: #fff;
    padding: 0.3rem;
    display: block;
}

main {
    max-width: 840px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: .3rem;
    box-shadow: 5px 5px 20px #444;
}

h1 {
    color: black;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 20%);
    padding: 1rem;
    background-color: #fff;
    color: #222;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}